body {
    text-align: center;
}

.main {
    display: block;
    width: 85%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.header-heading {
    float: left;
    font-size: 24px;
    padding: 15px;
    height: 50px;
    margin-bottom: 0;
    color: #b4f29a;
    line-height: 1;
}