p {
    font-size: 16px;
}

li {
    font-size: 20px;
}

video {
    vertical-align: bottom;
}

.welcome {
    padding: 15px;
    background-color: #b4f29a;
}

.control-label {
    text-align: left;
    display: block;
}

/*.movie-form {
    text-align: center;
}

.welcome {
    text-align: center;
}*/

.loading-gif {
    display: none;
}

.loading-gif.is-submitted {
    display: inline;
}

.title {
    font-size: 16px;
}

.recommendation {
    padding-bottom: 20px;
}

.recommendation.new-rec {
    display: none;
}

.recommendation-intro.new-rec {
    display: none;
}

.recommendation-intro {
    padding-top: 15px;
    padding-bottom: 15px;
}

.description {
    display: inline-block;
    width: 20em;
    text-align: center;

}
#feedback-thanks {
    display: none;
}

#feedback-thanks.is-submitted {
    display: inline;
}

#movieName {
    width: 50%;
    margin: 0 auto;
}

.other-likes-count.new-rec {
    display: none;
}

.feedback-form {
    padding: 20px;
    background-color: #ccc;
}

.feedback-form.new-rec {
    display: none;
}


