p {
    font-size: 16px;
}

li {
    font-size: 20px;
}

video {
    vertical-align: bottom;
}

.control-label {
    text-align: left;
    display: block;
}

/*.movie-form {
    text-align: center;
}

.welcome {
    text-align: center;
}

.recommendation {
    text-align: center;
}*/