p {
    font-size: 16px;
}

li {
    font-size: 20px;
}

video {
    vertical-align: bottom;
}

.control-label {
    text-align: left;
    display: block;
}

/*.movie-form {
    text-align: center;
}

.welcome {
    text-align: center;
}*/


.recommendation.new-rec {
    display: none;
}

.recommendation-intro.new-rec {
    display: none;
}

.loading-gif {
    display: none;
}

.loading-gif.is-submitted {
    display: inline;
}

#feedback-thanks {
    display: none;
}

#feedback-thanks.is-submitted {
    display: inline;
}