{% extends 'bootstrap/base.html' %}

{% block title %} Movie Recommendations {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('movie') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
