{% extends 'bootstrap/base.html' %}

{% block title %} FilmZen - Movie Recommendation Engine {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <p class="header-heading"> FilmZen </p>
            <a class="navbar-brand" href="{{ url_for('movie') }}"> Home </a>
            <a class="navbar-brand" href="{{ url_for('about') }}"> About </a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <main class="main">
        {% block page_content %}{% endblock %}
    </main>
    <script src="/static/movie.js"></script>
{% endblock %}