{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}    
  <div class="welcome">
    <p>Welcome to Seemless Movies</p>
  </div> <!-- END Welcome -->

  <div class="page-title">
    <p>Enter a movie below and receive 3 fresh recommendations!</p>
  </div> <!-- END page-title -->
  
  <div class="movie-form row">
    <div class="col-md-12">
      {{ wtf.quick_form(movieForm) }}
    </div>
  </div> <!-- END movie form -->

  <div class="loading-gif row">
    <p> Finding the best movies for you...</p>
    <img src="https://media.giphy.com/media/kzVL1ZLuGfEfm/giphy.gif">
  </div> <!-- END LOADING GIF -->

  {% if movie1 != 0 and movie1 != None %}
    <div class="recommendation-intro">
      <p> Top 3 movies for you since you like {{ likedMovie }}.</p>
    </div> <!-- END recommendation-intro -->

    <div class="recommendation row">            
      <a class="title" target="_blank" href={{ link1 }}>{{ movie1 }}</a>
      <div class="media"> 
        <img class="poster" src={{ poster1 }}>
        {% if trailer1 != 0 and trailer1 != None %}
          <video class="trailer" height="268" width = "auto" controls="controls" preload="auto" poster="https://s3-ap-southeast-2.amazonaws.com/mindlabkids/user/3183/field_video/Olly%20%26%20Luka/00001.jpg" onclick="this.paused ? this.play() : this.pause();">
          <source type="video/mp4" src={{ trailer1 }}>
          </video>
        {% else %}
          <div class="description">
            {{ description1 }}
          </div> <!-- END recommendation 1 -->
        {% endif %}

    <div class="recommendation row">            
      <a class="title" target="_blank" href={{ link2 }}>{{ movie2 }}</a>
      <div class="media"> 
        <img class="poster" src={{ poster2 }}>
        {% if trailer2 != 0 and trailer2 != None %}
          <video class="trailer" height="268" width = "auto" controls="controls" preload="auto" poster="https://s3-ap-southeast-2.amazonaws.com/mindlabkids/user/3183/field_video/Olly%20%26%20Luka/00001.jpg" onclick="this.paused ? this.play() : this.pause();">
          <source type="video/mp4" src={{ trailer2 }}>
          </video>
        {% else %}
          <div class="description">
            {{ description2 }}
          </div> <!-- END recommendation 2 -->
        {% endif %}

    <div class="recommendation row">            
      <a class="title" target="_blank" href={{ link3 }}>{{ movie3 }}</a>
      <div class="media"> 
        <img src={{ poster3 }}>
        {% if trailer3 != 0 and trailer3 != None %}
          <video class="video" height="268" width = "auto" controls="controls" preload="auto" poster="https://s3-ap-southeast-2.amazonaws.com/mindlabkids/user/3183/field_video/Olly%20%26%20Luka/00001.jpg" onclick="this.paused ? this.play() : this.pause();">
          <source type="video/mp4" src={{ trailer3 }}>
          </video>
        {% else %}
          <div class="description">
            {{ description3 }}
          </div> <!-- END recommendation 3 -->
        {% endif %}

  {% endif %}

  {% if error %}
    {% if likedmovie %}
      <div class="error row">
        <p> Not enough data for {{ likedmovie }} to make a recommendation. <p>
        <p> Please try a searching for a different movie. <p>
      </div>
    {% else %}
      <div class="error row">
        <p> Could not find the movie you were looking for. <p>
        <p> It's possible the movie is too new to be in the database. <p>
        <p> Please try again. <p>
      </div> <!-- END ERROR MSG -->
    {% endif %}
  {% endif %}

  {% if (movie1 != 0 and movie1 != None) or error %}
  <div class="feedback-form row">
    <div class="col-md-12">
      {{ wtf.quick_form(feedbackForm) }}
    </div>
  </div> <!-- END feedback form -->
  {% endif %}

  <div id="feedback-thanks">
    <p> Thank you for submitting feedback! </p>
  </div> <!-- END THANKS FOR FEEDBACK -->

  <footer class="footer">
    {% if movie1 != 0 and movie1 != None %}
      <p> {{ movie_count }} other user(s) liked {{ likedmovie }} </p>
    {% endif %}
      <p> You have visited this page {{ count }} times </p>
  </footer> <!-- END footer -->

{% endblock %}