{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="container">
        <h1>Welcome to Ben's website</h1>
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div class="row">            
            {% if name %}
                {% if prev_like %}
                    <h1>{{ movie_count }} other users liked {{ name }} too.</h1>
                    <h2> Top 3 movies for you since you like {{ name }}.</h2>

                    <ul>
                        <li>{{ movie1 }}</li>
                        <li>{{ movie2 }}</li>
                        <li>{{ movie3 }}</li>
                    </ul>
                {% else %}
                    <h1>So hipster, no one else has liked {{ name }}.</h1>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <p>You have visted this page {{ count }} times</p>
    </div>
{% endblock %}