{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="container">
        <h1>Welcome to Ben's website</h1>
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div class="row">            
            {% if movie1 %}
                <h1>{{ movie_count }} other user(s) liked {{ name }}.</h1>
                <h2> Top 3 movies for you since you like {{ name }}.</h2>
                <ul>
                    <li>{{ movie1 }}</li>
                    <img src = {{ poster1 }}>
                    {% if trailer1 %}
                        <video height="auto" controls="controls" preload="none" onclick="this.paused ? this.play() : this.pause();" poster = "http://clipart-library.com/images/5iRrBeART.png">
                         <source type="video/mp4" src= {{ trailer1 }}>
                        </video>
                    {% endif %}

                    <li>{{ movie2 }}</li>
                    <img src = {{ poster2 }}>
                    {% if trailer2 %}
                        <video height="auto" controls="controls" preload="none" onclick="this.paused ? this.play() : this.pause();" poster = "http://clipart-library.com/images/5iRrBeART.png">
                         <source type="video/mp4" src= {{ trailer2 }}>
                        </video>
                    {% endif %}

                    <li>{{ movie3 }}</li>
                    <img src = {{ poster3 }}>
                    {% if trailer3 %}
                        <video height="auto" controls="controls" preload="none" onclick="this.paused ? this.play() : this.pause();" poster = "http://clipart-library.com/images/5iRrBeART.png">
                         <source type="video/mp4" src= {{ trailer3 }}>
                        </video>
                    {% endif %}
                </ul>
            {% endif %}
            {% if error %}
                {% if name %}
                    <h2> Not enough data for {{ name }} to make a recommendation. <h2>
                    <h2> Please try a searching for a different movie. <h2>
                {% else %}
                    <h2> Could not find the movie you were looking for. <h2>
                    <h2> It's possible the movie is too new to be in the database. <h2>
                    <h2> Please try again. <h2>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <p>You have visited this page {{ count }} times</p>
    </div>
{% endblock %}